body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: rgba(92, 92, 92, 0.719);
}

.row-header{
    margin-left:10px auto;
    text-align: center;

}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: rgba(85, 85, 85, 0.75);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: rgba(85, 85, 85, 0.75) ;
    color:floralwhite;
}
  
  .dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color:#8a8888;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #8a8888;
    min-width: 450px;
    box-shadow: 0px 8px 16px 0px rgba(85, 85, 85, 0.2);
    z-index: 1;
  }
  
  .dropdown- a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px;

}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #999;
}
  .dropdown-content a:hover {
      background-color: rgb(104, 104, 104);
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }
  .column1{
      padding-left: 5px;
  }
  .dropdown:hover .dropbtn {
      background-color: rgba(45, 0, 168, 0.932)
    }
    .carousel {
        background:rgba(0, 2, 107, 0.87);
    }
    
    .carousel-item {
      height: 300px;
    }
    
    .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px;
    }
 /* mobile */
@media only screen and (max-width: 600px){
    .dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}